@charset "UTF-8";

body {
    background-color: rgb(147, 246, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

h1 {
    color: blueviolet;
    background-color: rgb(214, 117, 149);
}

h2 {
    color: coral;
}

p {
    text-align: justify;
}