@charset "UTF-8";

* {
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: auto;
}
 
main {
    color: white;
    padding: 20px;
   
}

div {
     margin: auto;
}

a {
    color: white;
}